---
	import Layout from '../layouts/Layout.astro';
	import Header from '../components/Header.astro';
	import Contact from '../components/Contact.astro';
	import Footer from '../components/Footer.astro';

	import HeroImage from '../assets/images/ceramic-painting-hero-md.png';
	import Showcase01 from '../assets/images/showcase01.webp';
	import Showcase02 from '../assets/images/showcase02.webp';
	import Showcase03 from '../assets/images/showcase03.webp';
	import Showcase04 from '../assets/images/showcase04.webp';
---

<Layout>
	<Header />

	<section class="wrapper hero">
        <div class="hero-container">

			<div class="hero-text">
				<h1>Now Open</h1>
				<p>Offering ceramic painting, weekly workshops and more.</p>
			</div>

			<figure>
				<img src={HeroImage.src} alt="Vector characters painting ceramics" class="pics">
			</figure>

        </div>
    </section>

	<div class="promo-banner">
		<div class="small-wrapper">
			<p><span class="bold">20% OFF</span> In store only ceramics from <span class="bold">June 11th - June 30th</span></p>
		</div>
	</div>

	<section id="about" class="wrapper section-padding">

		<h2>About</h2>
		<p class="about-p">Looking for a fun, creative thing to do? We welcome you to Bani's Art Haus where we offer a relaxed, drop-in experience where everyone can come and paint and create at their own pace. There's no need for experience or reservations required. Bani's Art Haus is perfect for family outings, rainy-day activities, creative dates, and casual group get-togethers.</p>

	</section>

	<section id="services" class="section-padding">
		<div class="wrapper">
			<h2>Services</h2>
			<p style="text-align: center;margin-top:2rem;">Details coming soon</p>
		</div>
	</section>

	<Contact />

	<div class=" showcase-container">
		<figure>
			<img class="pics" src={Showcase01.src} alt="Child painting a ceramic piece">
		</figure>
		<figure>
			<img class="pics" src={Showcase02.src} alt="Child painting a ceramic piece">
		</figure>
		<figure>
			<img class="pics" src={Showcase03.src} alt="Child painting a ceramic piece">
		</figure>
		<figure>
			<img class="pics" src={Showcase04.src} alt="Child painting a ceramic piece">
		</figure>
	</div>


	<Footer />
</Layout>

<style>
	.hero{
		height: 800px;
		/* background-image: url('../assets/images/ceramic-painting-hero.png');
		background-size: cover;
		background-position: right;
		background-repeat: no-repeat; */
	}
	.hero-container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}
	.hero-text{
		width: 40%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.hero-container figure{
		width: 55%;
		height: 100%;
	}
	.hero-container figure img{object-fit: contain;}
	.hero-container h1{
		font-family: var(--secondary-font);
		font-size: 4.5rem;
		margin-bottom: 24px;
		font-weight: 400;
	}
	.hero-container .hero-text p{
		/* max-width: 500px; */
		padding-right: 1rem;
		font-size: 1.5rem;
		line-height: 1.45;
	}
	/* .hero-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
		height: 100%;
	} */

	.promo-banner{
        padding: 1.5rem 0;
        color: #fff;
        background-color: var(--dark-plum);
    }
    .promo-banner p{
        font-size: 1.125rem;
        text-align: center;
    }

	.showcase-container{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}

	/* About Section */
	.about-p{margin-top: 2rem;}

	@media screen and (max-width: 1120px){
		.hero-container{
			flex-direction: column;
			justify-content: space-evenly;
		}
		.hero-container .hero-text{
			/* order: 2; */
			width: 100%;
			height: 30%;
			justify-content: center;
			align-items: center;
		}
		.hero-container .hero-text p{
			padding-right: 0;
			text-align: center;
		}
		.hero-container figure{
			/* order: 1; */
			width: 100%;
			height: 60%;
		}
	}

	@media screen and (max-width: 921px){
		.showcase-container{
			grid-template-columns: repeat(2,1fr);
		}
		.hero{height: 625px;}
	}
	@media screen and (max-width: 480px){
		.hero{height: 500px;}
	}
	
</style>